<% content_for :body_class, 'bg-light' %>

<% @length %>

<section class="section sailboat-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @sailboat.title.capitalize %></h1>

        <div class="feature-image">
          <% if @sailboat.image? %>
            <%= image_tag(@sailboat.image_url(:default), class: 'border-3 border-radius-3') %>
          <% else %>
            <p>Product has not image.</p>
          <% end %>
        </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

        <h3 class="subtitle is-4">Description</h3>
        <%= @sailboat.description.capitalize %>


        <h3 class="subtitle is-4 pt5">Product Specs</h3>

        <table class="table is-narrow">

          <% if @sailboat.category %>
            <tr>
              <td class="has-text-weight-bold">Category:</td>
              <td><%= @sailboat.category %></td>
            </tr>
          <% end %>

          <% if @sailboat.condition %>
            <tr>
              <td class="has-text-weight-bold">Condition:</td>
              <td><%= @sailboat.condition %></td>
            </tr>
          <% end %>

          <% if @sailboat.color %>
            <tr>
              <td class="has-text-weight-bold">Color:</td>
              <td><%= @sailboat.color %></td>
            </tr>
          <% end %>

          <% if @sailboat.model %>
            <tr>
              <td class="has-text-weight-bold">Model:</td>
              <td><%= @sailboat.model.capitalize %></td>
            </tr>
          <% end %>

          <tr>
            <td class="has-text-weight-bold">Length:</td>
            <td><%= @sailboat.length %>ft (<%= @length.round(2) %>m)</td>
          </tr>

        </table>
      </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@sailboat.price) %></h4>
        <p class="has-text-centered mb4">Sold by <%= @sailboat.user.name.capitalize %></p>
      </div>
    </div>
  </div>

  <% if user_signed_in? && current_user.id == @sailboat.user_id %>
    <%= link_to 'Edit', edit_sailboat_path(@sailboat), class: 'button' %>
  <% end %>
  
  <%= link_to 'Back', sailboats_path, class: 'button' %>

  <% signed_in_confirm = "An email will be sent saying you are interested in #{@sailboat.user.name.pluralize.capitalize} boat." %>
  <% not_signed_in_confirm = "Please sign in or sign up before proceeding." %>

  <% if user_signed_in? && current_user.id != @sailboat.user_id %>
    <%= link_to 'Interested?', sailboats_path, class: 'button', data: { confirm: "#{ signed_in_confirm }" } %>
  <% else %>
    <%= link_to 'Interested?', new_user_registration_path, class: 'button', data: { confirm: "#{ not_signed_in_confirm }" } %>
  <% end %>
</section>
